.card {
  margin-top: 5rem;
}

.sidebar {
  width: 15%;
  padding-top: 70px;
  float: left;
  height: 100%;
}

#content {
  width: 85%;
  float: right;
  padding: 5px; 
  padding-top: 75px;
  max-height: 100%;
}

.list-group {
  color: white;
}

